<div class="col-12 col-sm-4">
    <div class="c-step">
        <h2 class="c-step__header">{{ include.step.title }}</h2>
        <p class="c-step__message">{{ include.step.message }}</p>
    </div>
</div>