<section class="c-about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-6 c-about__content">
                <h2 class="c-about__header">About Dr. Cassie</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nulla facilisi morbi tempus iaculis. Platea dictumst quisque sagittis purus. Neque gravida in fermentum et sollicitudin. Ante metus dictum at tempor commodo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nulla facilisi morbi tempus iaculis. Platea dictumst quisque sagittis purus. Neque gravida in fermentum et sollicitudin. Ante metus dictum at tempor commodo.</p>
            </div>
        </div>
    </div>
</section>