<section class="c-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <blockquote class="blockquote c-testimonial__quote c-testimonial__quote--loading" id="quote">
                    <p class="c-testimonial__message" id="testimony">
                        {{ include.testimonials[0].testimony }}
                    </p>
                    <footer class="blockquote-footer c-testimonial__credit" id="attestant">
                        {{ include.testimonials[0].attestant }}
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>