<section class="c-notification bg-warning">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="c-notification__content">
                    <strong class="c-notification__label">Upcoming Closure</strong>
                    Thanksgiving, Nov 13-21, 2018.
                </p>
            </div>
        </div>
    </div>
</section>