<section class="c-steps">
    <div class="container">
        <div class="row">
        {% for step in include.steps %}
            {% include components.step.html step=step %}
        {% endfor %}
        </div>
    </div>
</section>