<header class="c-hero" class="container-fluid">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 c-hero__headline">
                <h1 class="c-hero__message">Bringing convenience and comfort to chiropractic.</h1>
                <h3 class="c-hero__contact">Call us for a consultation at 999-999-9999.</h3>
            </div>
        </div>
    </div>
</header>