---
layout: default
---

{% include components.hero.html %}
{% include components.notification.html %}
{% include components.steps.html steps=site.data.steps %}
{% include components.about.html %}
{% include components.testimonial.html testimonials=site.data.testimonials %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Footer
            </div>
        </div>
    </div>
</footer>
