$headline-margin-increment: 2rem;
$headline-margin-bottom: 2rem;
$headline-margin-top: 8rem;
$headline-margin-bottom-md: $headline-margin-bottom + $headline-margin-increment;
$headline-margin-top-md: $headline-margin-top + $headline-margin-increment;

.c-hero {
    background: url(images/hero-bg.jpg) center / cover no-repeat $primary-light;
    color: $primary-dark-color;
}

.c-hero__headline {
    margin-bottom: $headline-margin-bottom;
    margin-top: $headline-margin-top;
}

.c-hero__message,
.c-hero__contact {
    font-weight: 300;    
}

.c-hero__message {
    margin-bottom: ($headings-margin-bottom * 2);
}

.c-hero__contact {
    font-size: $font-size-h4;
}

@include media-breakpoint-up(md) {

    .c-hero__headline {
        margin-bottom: $headline-margin-bottom-md;
        margin-top: $headline-margin-top-md;
    }

    .c-hero__message {
        @include display-type(4);        
    }

    .c-hero__contact {
        font-size: $font-size-h3;
    }
}
