.c-about {
    background: url(images/about-bg.jpg) 25% center / cover no-repeat $primary-light;
    color: $primary-dark-color;
    padding: 30rem 0 4rem;
}

.c-about__header {
    @include display-type(4);

    font-size: 2.5rem;
    margin-bottom: 40px;
}

.c-about__content {

    p:last-child {
        margin: 0;
    }
}

@include media-breakpoint-up(md) {

    .c-about {
        background-position: center 25%;
        padding-top: 4rem;
    }
}
