.c-step {
    padding: 2rem 0;
}

.c-step__header {
    @include display-type(4);

    font-size: 2.5rem;

    &:after {
        content: " ";
        display: block;
        background-color: $secondary;
        height: 4px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 40%;
    }
}

.c-step__message {
    @extend .lead;

    font-weight: normal;
}
