.c-testimonial {
    background-color: darken($alabaster, 2);
    padding: 4rem 0;

    .blockquote {
        border-left: none;
    }
}

.c-testimonial__quote {
    @include set-transition();

    &:before {
        content: "\1f676";
        font-size: 3.5rem;
        line-height: 1.1;
        color: $secondary;
    }

    &--loading {
        opacity: 0;
    }
}

.c-testimonial__message {
    margin-bottom: 30px;
}

.c-testimonial__credit {
    color: darken($alabaster, 50);

    &:before {
        content: "";
    }
}
