.c-notification {
    padding: 1rem 0;
}

.c-notification__content {
    @extend .h5;

    color: #fff;
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.c-notification__label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase; 
}
