// https://material.io/color/#!/?view.left=1&view.right=0&primary.color=4CAF50&secondary.color=EC407A&primary.text.color=212121&secondary.text.color=FAFAFA

// Primary
$pastel-green: #80e27e;
$fruit-salad: #4caf50;
$japanese-laurel: #087f23;

$primary: $fruit-salad;
$primary-light: $pastel-green;
$primary-dark: $japanese-laurel;

// Secondary
$tickle-me-pink: #ff77a9;
$french-rose: #ec407a;
$lipstick: #b4004e;

$secondary: $french-rose;
$secondary-light: $tickle-me-pink;
$secondary-dark: $lipstick;

// Text
$mine-shaft: #212121;
$alabaster: #fafafa;

$primary-color: $mine-shaft;
$primary-light-color: $mine-shaft;
$primary-dark-color: $alabaster;

$secondary-color: $mine-shaft;
$secondary-light-color: $mine-shaft;
$secondary-dark-color: $alabaster;

// Indicators
$lightning-yellow: #fbc02d;
$lochmara: #0288d1;
$persian-red: #d32f2f;

$info: $lochmara;
$warning: $lightning-yellow;
$danger: $persian-red;
