$bs-display-vars: (
    ($display1-size, $display1-weight)
    ($display2-size, $display2-weight)
    ($display3-size, $display3-weight)
    ($display4-size, $display4-weight)
);

/*
    This is basically used as a hack to get around not being able
     to use @extend inside of @media.
*/
@mixin display-type($level) {
    font-size: nth(nth($bs-display-vars, $level), 1);
    font-weight: nth(nth($bs-display-vars, $level), 2);
    line-height: $display-line-height;
}
